@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.body-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: black;
    color: white
}
nav a{
    color: white;
    font-weight: 300;
}

.search-box{
    display: flex;
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #eeeeee;
}
.search-box input{
    border: none;
    background-color: transparent;
    flex: 1
}
.search-box input:focus{
    outline: none;
}

.list-tile{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 8px;
    gap: 10px;
}
#employee-list{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.employee-item{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f5f5f5;
    cursor: pointer;
}
.employee-item-details {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.employee-item-details.show {
  max-height: 1000px;
  opacity: 1;
}
.list-tile-emp-description{
    background-color: #cec7c0;
    border-radius: 0;
}
.employee-item:hover .list-tile-emp-summary{
    background-color: #686868;
    color: white;
}
.employee-item span{
    text-align: end;
}
.list-tile-active{
    background-color: #686868;
    border-radius: 8px 8px 0 0;
    color: white;
}
